* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #5465a3;
  --color-secundary: #1c1c53;
  --color-three: #0b0b28;

  --color-red: #e93434;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.container-global {
  padding: 1rem 0.5rem;
  padding-right: 3rem !important;
}

.button-primary {
  background-color: var(--color-primary) !important;
  color: white !important;
}

.container-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 600px;
  background-color: white;
}

.container-modal .modal-body {
  padding-top: 30px !important;
  padding: 50px;
}

#modal-modal-title {
  background-color: var(--color-three);
  padding: 20px 30px;
  color: white;
}

.titles {
  font-weight: 700 !important;
  font-size: 28px !important;
}

.texts {
  margin: 1.5rem 0 !important;
}

.alerts {
  position: absolute;
  bottom: 10px;
  right: 10px;
}